In [1]:
!conda activate tf

In [4]:
!conda info

     active environment : base
    active env location : C:\Users\pdine\anaconda3
       user config file : C:\Users\pdine\.condarc
 populated config files :
          conda version : 4.14.0
    conda-build version : 3.21.8
         python version : 3.9.12.final.0
       virtual packages : __win=0=0
                          __archspec=1=x86_64
       base environment : C:\Users\pdine\anaconda3  (writable)
      conda av data dir : C:\Users\pdine\anaconda3\etc\conda
  conda av metadata url : None
           channel URLs : https://repo.anaconda.com/pkgs/main/win-64
                          https://repo.anaconda.com/pkgs/main/noarch
                          https://repo.anaconda.com/pkgs/r/win-64
                          https://repo.anaconda.com/pkgs/r/noarch
                          https://repo.anaconda.com/pkgs/msys2/win-64
                          https://repo.anaconda.com/pkgs/msys2/noarch
          package cache : C:\Users\pdine\anaconda3\pkgs
                          C:\Users\pdine\.conda\pkgs
                          C:\Users\pdine\AppData\Local\conda\conda\pkgs
       envs directories : C:\Users\pdine\anaconda3\envs
                          C:\Users\pdine\.conda\envs
                          C:\Users\pdine\AppData\Local\conda\conda\envs
               platform : win-64
             user-agent : conda/4.14.0 requests/2.27.1 CPython/3.9.12 Windows/10 Windows/10.0.19044
          administrator : False
             netrc file : None
           offline mode : False

In [3]:
import sys
print(sys.executable)

C:\Users\pdine\anaconda3\python.exe

In [2]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.layers import LSTM
from sklearn.preprocessing import MinMaxScaler
from sklearn.metrics import mean_squared_error

ModuleNotFoundError: No module named 'tensorflow'

In [4]:
# q_np = np.load("../branching2/q_inter_array.npy")
# s_np = np.load("../branching2/storms_array.npy")
# print(q_np.shape)
# print(s_np.shape)
# slabel = ''
# for i in range(s_np.shape[1]):
#    slabel = slabel+'x'+str(i)+','
#    slabel = slabel+'y'+str(i)+','
# q_np = q_np[:,0,:]
# s_np = s_np.reshape(s_np.shape[0],s_np.shape[1]*s_np.shape[2])
# print(q_np.shape)
# print(s_np.shape)
# np.savetxt('storms.csv', s_np, delimiter = ',', header = slabel[:-1], comments = '')
# np.savetxt('q.csv',q_np, delimiter = ',')

(3500, 11, 1000)
(3500, 6, 2)
(3500, 1000)
(3500, 12)

In [5]:
s_df = pd.read_csv('storms.csv')
s_df.head()

,x0,y0,x1,y1,x2,y2,x3,y3,x4,y4,x5,y5
0,-71.0,33.9,-71.057772,35.549936,-71.115544,37.199871,-71.173317,38.849807,-71.231089,40.499742,-71.288861,40.441970
1,-71.0,33.9,-71.057772,35.549936,-71.115544,37.199871,-71.173317,38.849807,-71.231089,40.499742,-71.849688,39.881143
2,-71.0,33.9,-71.057772,35.549936,-71.115544,37.199871,-71.173317,38.849807,-71.231089,40.499742,-72.335903,39.394928
3,-71.0,33.9,-71.057772,35.549936,-71.115544,37.199871,-71.173317,38.849807,-71.231089,40.499742,-72.688861,39.041970
4,-71.0,33.9,-71.057772,35.549936,-71.115544,37.199871,-71.173317,38.849807,-71.791916,40.380480,-72.410515,39.761880

In [8]:
q_df = pd.read_csv('q.csv',header = None)
q_df.head()

,0,1,2,3,4,5,6,7,8,9,...,990,991,992,993,994,995,996,997,998,999
0,0.114625,0.115346,0.116006,0.116608,0.117151,0.117638,0.118069,0.118446,0.118771,0.119047,...,0.672913,0.676073,0.679145,0.682329,0.685564,0.688806,0.692050,0.695302,0.698565,0.701825
1,0.114625,0.115346,0.116006,0.116608,0.117151,0.117638,0.118069,0.118446,0.118771,0.119047,...,0.875377,0.877649,0.879761,0.881715,0.883510,0.885140,0.886603,0.887895,0.889013,0.889957
2,0.114625,0.115346,0.116006,0.116608,0.117151,0.117638,0.118069,0.118446,0.118771,0.119047,...,0.050605,0.049577,0.048660,0.047865,0.047187,0.046626,0.046185,0.045867,0.045674,0.045607
3,0.114625,0.115346,0.116006,0.116608,0.117151,0.117638,0.118069,0.118446,0.118771,0.119047,...,0.093835,0.097323,0.100867,0.104497,0.108201,0.111973,0.115847,0.119800,0.123808,0.127902
4,0.115984,0.116736,0.117429,0.118063,0.118639,0.119158,0.119621,0.120030,0.120387,0.120694,...,0.795392,0.790876,0.786229,0.781444,0.776515,0.771444,0.766236,0.760897,0.755435,0.749858

In [10]:
# fix random seed for reproducibility
tf.random.set_seed(7)

In [17]:
# normalize the dataset
scaler = MinMaxScaler(feature_range=(0, 1))
s_df = scaler.fit_transform(s_df)

array([0.        , 0.        , 0.57156521, 0.84502857, 0.29154896,
       0.43945017, 0.24120138, 0.40366754, 0.39026707, 0.5459418 ,
       0.47695477, 0.76305835])

In [ ]:
#what about training not just on the storms but also on the snapshots of the (q,u,v) at all (x,y,t). You can even train multiple snapshots from the same run to force and invariance

In [ ]:
# okay you have stuff already for the non time series bit

In [ ]:
# try training the non time series bits (FF ANN) with the invariance thing. See if it improves